#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        /* Define a custom actuation: Press at 2.0mm (50%), Release at 1.8mm */
        he_standard: he_standard {
            compatible = "he,behavior-adjustable-actuation";
            #binding-cells = <0>;
            press-threshold-percent = <50>;
            release-threshold-percent = <45>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            // The bindings list must contain exactly one entry for every RC entry you defined in the map above (48 total).
            // Format: &kp stands for "Key Press." It is followed by the keycode, found in the ZMK Keycodes gallery: https://zmk.dev/docs/keymaps/list-of-keycodes
	    // You can add a custom behaviour to any analog key, for example add standard behaviour to key A: '&he_standard &kp A'
	    // Use &none if you dont want to use a key.
            bindings = <
                /* Row 1 (Mux 1) */
                &kp ESC   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp EQUAL &kp BSLH &kp GRAVE &kp BSPC
                /* Row 2 (Mux 2) */
                &kp TAB   &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp LBKT  &kp RBKT  &kp RET  &kp DEL   &kp PG_UP
                /* Row 3 (Mux 3) */
                &kp LCTRL &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp SEMI &kp SQT &kp LSHIFT &kp UP  &kp DOWN  &kp PG_DN
            >;
        };
    };
};
